.section-one {
  margin-top: 40px;
}

.box-head {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.box-head p {
  max-width: 672px;
  margin: 0 auto;
  margin-top: 20px;
}

.box-head .inner-title {
  margin-bottom: 30px;
}




.section-one .box-head .inner-title:before {
  content: "";
  position: absolute;
  display: block;
  width: 160px;
  height: 1px;
  background: color-mix(in srgb, #74B67A, transparent 60%);
  left: 0;
  right: 0;
  bottom: 86px;
  margin: auto;
}

.section-one .box-head .inner-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: #74B67A;
  left: 0;
  right: 0;
  bottom: 85px;
  margin: auto;
}

.section-one .inner-info {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  height: 100%;
}

.section-one .inner-info .inner-list .inner-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.section-one .inner-info .inner-list .inner-item .inner-icon {
  background: #E8EFE7;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #74B67A;
  margin-right: 15px;
}

.section-one .inner-info .inner-list .inner-item .inner-content {
  flex: 1;
  /* Chiếm phần còn lại */
}

.section-one .inner-info .inner-list .inner-item .inner-content .inner-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
}

.section-one .inner-info .inner-list .inner-item .inner-content .inner-desc {
  opacity: 0.6;
  font-size: 14px;
}

.section-one .inner-map {
  width: 100%;
  aspect-ratio: 16/9;
}

.section-one .inner-map iframe {
  width: 100%;
  height: 100%;
}

.section-one .inner-form {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  height: 100%;
}

.section-one .inner-form textarea {
  resize: none;
}

/* Section -Two */
.section-two {
  margin-top: 30px;
}

.section-two .box-head h2 {
  margin-bottom: 15px;
  color: #204162;
  font-weight: 600;
}

.section-two .box-head .inner-desc {
  font-size: 17px;
  opacity: 0.8;
}

.section-two .box-head {
  margin-bottom: 50px;
}

.section-two .inner-main .inner-content {
  padding: 30px 15px;
  text-align: center;
  background: #F9F9F9;
  border-radius: 8px;
}

.section-two .inner-main {
  position: relative;
}

.section-two .inner-main .inner-content::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
  top: 100%
}



.section-two .inner-info {
  text-align: center;
  margin-top: 30px;
}

.section-two .inner-info img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.section-two .inner-info .inner-name {
  margin-top: 8px;
  font-size: 18px;
  color: #204162;
  margin-bottom: 0;
}

.section-two .inner-info .inner-position {
  opacity: 0.6;
  margin-top: 5px;
}