* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  background: #9FDEC5;
  padding: 20px;
}

.content {
  background: #D1EEF4;
  padding: 20px;
  height: 600px;
  width: 70%;
}

.aside {
  background: #EED8CD;
  padding: 20px;
  height: 600px;
  width: 30%;

}

.section-one {
  display: flex;
}

.section-two {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

}

.box {
  background: #F3F1CB;
  padding: 20px;
  height: 150px;
  width: 24.2%;
  margin-bottom: 10px;
}

.footer {
  background: #E6CBED;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .section-one {
    flex-wrap: wrap;
  }

  .content {
    width: 100%;
  }

  .aside {
    width: 100%;
  }

  .section-two {
    flex-wrap: wrap;
  }

  .box {
    width: 49%;
  }
}

@media screen and (max-width: 480px) {
  .box{
    width: 100%;
  }
}